{{!-- create.handlebars --}}

{{!-- Seção de conteúdo da página --}}
<div class="container mt-4 w-80">
    <h1 class="mb-4">Editar Usuario</h1>
    <form id="editUsuarioForm" method="post">
        <div class="form-group mb-3">
            <label for="createNome">Nome</label>
            <input type="text" class="form-control" id="createNome" name="nome" value="{{usuario.nome}}" required>
        </div>
        <div class="form-group mb-3">
            <label for="createEmail">Email</label>
            <input type="email" class="form-control" id="createEmail" name="email" value="{{usuario.email}}" required>
        </div>
        <div class="form-group mb-3">
            <label for="createSenha">Senha</label>
            <input type="password" class="form-control" id="createSenha" name="senha" value="" required>
        </div>
        <div class="form-group mb-3">
            <label for="createConfirmarSenha">Confirmar Senha</label>
            <input type="password" class="form-control" id="createConfrimarSenha" name="confirmarsenha" value="" required>
        </div>
        <!-- Campo oculto para armazenar o ID do usuario -->
        <input type="hidden" id="editUsuarioId" name="id" value="{{usuario.id}}">
        <a  href="../usuarios/" class="btn btn-secondary" id="cancelEditUsuario"><i class="bi bi-x-circle"></i> Cancelar</a>
        <button  type="button" class="btn btn-primary" id="saveEditUsuario" onclick="UpdateUsuarioClick(event)"><i class="bi bi-check-circle"></i> Salvar</button>
    </form>
</div>
<!-- Scripts do formulário usuario -->
<script src="../js/usuarioScripts.js"></script> 
