</form>
</body><body style="background-color:rgb(0, 0, 0)">


</html><!DOCTYPE html>
<html>
<head>
  <title>Tela de Login</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    form {
      width: 300px;
      padding: 20px;
      border: 1px solid rgb(255, 255, 255);
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid rgb(255, 255, 255);
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #ffffff;
      color: #000000;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <form>
    <input type="text" placeholder="Usuário">
    <input type="password" placeholder="Senha">
    <button type="submit">Entrar</button>
  </form>