

/* Estilo para o overlay do modal */
.modal.show {
    background-color:  rgba(0, 0, 0, 0.5);
}

/* definindo variáveis para cores */
/* sobrescrevendo classes padrão do Bootstrap */
/* a marcação !important dá um peso maior a regra, sobrescrevendo regras prévias */

/*
:root{
    --primary: #026E81;
    --secondary: #00ABBD;
    --success: #0099DD;
    --info: #A1C7E0;
    --warning: #FF9933;
    --danger: #E3371E;
    --white: #FFF;
}*/

/*Dark mode*/
:root{
    --primary: #313866;
    --secondary: #00ABBD;
    --success: #964EC2;
    --info: #A1C7E0;
    --warning: #00ABBD;
    --danger: #313866;
    --white: #FFF;
}


.bg-primary, .btn-primary{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.bg-success, .btn-success{
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}
.bg-info, .btn-info{
    background-color: var(--info) !important;
    border-color: var(--info) !important;
}
.bg-warning, .btn-warning{
    background-color: var(--warning) !important;
    border-color: var(--warning) !important;
}
.bg-danger, .btn-danger{
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.nav-link {
    color: var(--white) !important ;
}
.nav-link:hover{
    color: var(--warning) !important ; 
}

