<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para o Bootstrap 5 via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <!-- Adicione seu próprio arquivo CSS personalizado -->
    <link href="../css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <title>Login - Paladar Caseiro</title>
</head>
<body class="vh-100 d-flex align-items-center">
    <div class="container">
        <div class="card mx-auto" style="max-width: 600px;">
            <div class="card-header bg-primary text-white">
                <img src="../img/logo.png" width="55px" style="vertical-align: baseline;"><span class="fs-4"> Paladar Caseiro - Admin</span>
            </div>
            <div class="card-body">
                <form method="post" id="LoginForm">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required>
                    </div>
                    <div class="text-center mb-1">
                        <button type="button" id="LoginButton" onclick="loginClick(event)" class="btn btn-secondary px-4 fs-5"><i class="bi bi-box-arrow-in-right"></i> Entrar</button>
                    </div>
                    <div class="text-danger" id="erro">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Sweetalert para interação com o usuário-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.31/dist/sweetalert2.all.min.js"></script>
    <!-- Scripts do formulário login -->
<script src="../js/loginScripts.js"></script> 
<script>clearToken();</script>
</body>
</html>
