    <h1>Cadastrando cliente</h1>
<form action="/clientes/cd_cliente" method="POST">
  <div class="form-control">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" placeholder="Nome completo do cliente">
  </div>
  <div class="form-control">
    <label for="numero_cell">Celular:</label>
    <input type="text" name="numero_cell" placeholder="Digite seu numero de celular: (XX) XXXXX-XXXX">
  </div>
   <div class="form-control">
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Digite seu email ou endereço eletrônico:">
  </div>
   <div class="form-control">
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" placeholder="Digite seu CPF:">
  </div>
  <input type="submit" value="Cadastrar">
</form>