<h1>Lista de clientes</h1>


<div class=" " id="lista">
    <table>
        <thead>
            <tr>
                <th colspan="5">
                    listagem de instrumentos
                </th>
            </tr>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Celular
                </th>
                <th>
                    Email
                </th>
                <th>
                    CPF
                </th>
                <th>
                    Opções
                </th>
            </tr>
        </thead>

        <tbody id="corpotabela">

        </tbody>
    </table>

</div>

<script>
    
</script>