<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paladar Caseiro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <nav id="navbar">
      <h2 class="navbar-title">Sistema Restaurante</h2>
      <ul class="navbar-menu">
        <li><a href="/clientes">Ver clientes</a></li>
        <li><a href="/clientes/cd_cliente">Adicionar cliente</a></li>
        <li><a href="/produtos">Ver produtos</a></li>
        <li><a href="/produtos/cd_produto">Adicionar produto</a></li>
      </ul>
    </nav>
    <div class="container-fluid">
      {{{ body }}}
    </div>
  </body>
</html>
